#logo{
    width: 90%
}

#main{
    text-align: center;
}

body{
    background-color:rgb(19,19,70);
    color: aliceblue;
    text-align: center;

    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

#console{
    display: flex;
}

.button{
    width:30%;
    height:25px;
    margin: 1%;
    background-color: azure;
    color: black;
    padding-top: 5px;
}

.onbutton{
    background-color: rgba(240, 255, 255, 0.247);
}

.rule-cards{
    background-color: azure;
    width:90%;
}

.out_qr{
    display: flex;
    justify-content: center;
}

.out_qr img{
    border: solid 13px #FFF;
}


.none{
    display: none;
}


#stats{
    font-size: small;
}